.flex-container-sb{
    display: flex;
    flex-direction: column;
    background: #140047;
    width: 116px;
    height: 100vh;
    padding: 6px;
    padding-top: 56px;
}

.typography{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    color: #DEF0F2;
}

.shape{
  /* margin-top: 35px; */
  height: 99px;
  margin-block: 16px;
}

.catalog-container {
  position: relative;
  display: grid;
  place-items: center;
}
.catalog-container > ::before {
  position: absolute;
  content: "";
  position: absolute;
  width: 7px;
  height: 99px;
  left: 0px;
  top: 0px;

  background: #FFDE29;
}